= email_default_heading("Hello, #{@resource.name}!")
%p
  A password reset has been requested for your Stoplight account.
%p
  Click the link below to complete the process.
#cta
  = link_to('Reset password', edit_password_url(@resource, reset_password_token: @token))
